#about
    h1
        font-weight: 700
        font-size: 60px
    h4
        font-size: 18px
        color: #6c7596
    .box
        display: flex
        justify-content: end
        margin: 0 100px 100px 0
        .textbox
            width: 400px
            text-align: start
            margin: 0 20px
            h2
                font-size: 30px
                font-weight: 700
                margin-bottom: 10px
            p
                font-size: 19px
                color: #828080
                line-height: 1.4
        .imgbox
            width: 160px
            height: 160px
            border: 7px solid #ded8d8
            border-radius: 100%
            margin: 0 30px
    .left
        display: flex
        justify-content: start
        margin: 0 0 100px 90px
        .textbox
            text-align: end
    .storys
        width: 160px
        height: 160px
        background-color: #ffc800
        border-radius: 100%
        border: 7px solid #ded8d8
        padding: 40px
        h3
            font-weight: 700
            font-size: 20px
            color: #ffff
            line-height: 1.2
    @media screen and ( max-width: 769px )
        h1
            font-weight: 700
            font-size: 55px
        h4
            font-size: 20px
            color: #6c7596
        .box
            display: flex
            justify-content: end
            margin: 0 30px 100px 0
            .textbox
                width: 185px
                text-align: start
                margin: 0 20px
                h2
                    font-size: 30px
                    font-weight: 700
                    margin-bottom: 10px
                p
                    font-size: 19px
                    color: #828080
                    line-height: 1.4
            .imgbox
                width: 100px
                height: 100px
                border: 7px solid #ded8d8
                border-radius: 100%
                margin: 0 30px
        .left
            display: flex
            justify-content: start
            margin: 0 0 100px 30px
            .textbox
                text-align: end
        .storys
            width: 100px
            height: 100px
            background-color: #ffc800
            border-radius: 100%
            border: 7px solid #ded8d8
            padding: 20px
            h3
                font-weight: 700
                font-size: 15px
                color: #ffff
                line-height: 1.2
    @media screen and ( max-width: 374px )
        h1
            font-size: 60px
        .box
            display: flex
            justify-content: start
            margin: none
            .textbox
                h2
                    font-size: 20px
                p
                    font-size: 15px
            .imgbox
                width: 70px
                height: 70px
                border: 7px solid #ded8d8
                border-radius: 100%
        .left
            display: flex
            justify-content: start
        .storys
            display: flex
            justify-content: start
                